.new-tweet {
  background-color: #f5f5f3;
  padding: 2em;
  width: 100%;
  margin: auto;
}
  
#tweet-text {
  padding: 1em;
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  margin: 0.25em 0 0.5em 0;
  border: 0 none;
  background: transparent;
  word-wrap: break-word;
  border-bottom: 4px solid black;
}

.error{
  margin-top: 1em;
  display:none;
}

footer.form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
}

.counter {
  font-weight: 700;
}

.invalid {
  color:red;
}
  
